*{
    margin: 0%;
    padding: 0%;
}
.container{
    height: 100%;
    width: 100%;
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: blueviolet;
    text-shadow: 2px;
}
label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:cornflowerblue;
    font-size: 30px;
}
.button{
    margin-left: 50%;
}
p{
    margin-left: 20%;
    font-size: 200%;
    color: crimson;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#result{
    color:rgb(106, 78, 174);
    margin-left: 2%;
}
.output,.output2{
    color:rgb(5, 6, 79);
}