ul,li{
    padding-right:30%;
    list-style: none;
}
li{
     font-size:110%;
 }
 a:hover{
    background-color:rgb(67, 124, 164);
    padding: 5px;
    border-radius: 10px;
 }
 .row-12{
    display: flex;
 }